<html>
   <body>
      <div>
         -- <a href="/upload">Upload File</a>
         -- <a href="/pending">Pending</a>
         -- <a href="/inprogress">In Progress</a>
         -- <a href="/completed">Completed</a>
         -- <a href="/error">Errors</a>
         -- <a href="/clear">CLEAR ALL</a>
         -- <br />
      </div>
      Upload File For Transcoding:
      <form action = "/doupload" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" multiple = "" />
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>